.body{
    width: 330px;
    margin: 0 auto;
    font-family: monospace;
    background-color: lavender;
    border-radius: 15px;
}
h1 {
    margin: 0;
    padding: 0;
}



.visor{
    display: flex;
    justify-content: end;
    padding: 10px 15px 10px 15px;
    font-size: 2em;
    background-color: rgb(196, 196, 196);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 50px;
}

.teclas {
    display: flex;
    justify-content: space-between;
}

.base1{
    width: 100%;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.base2{
    width: 20%;
    padding: 12px;
    justify-content:center;
}

.clearBot{
    color: red;
    grid-column: span 2;
}

.corrigeElem{
    grid-column: span 1;
}

.base2 button{
    width: 100%;
}

button{
    font-family:monospace;
    margin: 5px;
    padding: 18px 10px;
    border-radius: 3em;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    color: #000;
    border: none;
}

button:hover{
    background-color: rgb(215, 216, 215);
    cursor: pointer;
}

.operadores{
    background-color: aqua;
}
.operadores:hover{
    background-color: rgb(160, 225, 225);
}

.link {
    padding: 15px;
}