.body{
    width: 330px;
    margin: 0 auto;
    border: solid 1px #000;
    font-family: monospace;
}

.visor{
    border: solid 1px red;
}

.teclas {
    display: flex;
    justify-content: space-between;
}

.base1{
    width: 80%;
    border: solid 1px #000;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.base2{
    width: 20%;
    padding: 12px;
    border: solid 1px blue;
    justify-content: center;
}

.clearBot{
    color: red;
}

.base2 button{
    width: 100%;;
}

button{
    font-family:monospace;
    width: auto;
    margin: 4px;
    padding: 18px 20px;
    border-radius: 3em;
    font-size: 1.2em;
    background-color: rgb(228, 235, 228);
    font-weight: bolder;
    color: #000;
    border: none;
}

button:hover{
    background-color: rgb(215, 216, 215);
    cursor: pointer;
}

.operadores{
    background-color: aqua;
}
.operadores:hover{
    background-color: rgb(160, 225, 225);
}